version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: simple-users-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./simple-users-list-backend
    container_name: simple-users-backend
    restart: always
    ports:
      - "3000:3000"
    environment:
      MONGO_URI: mongodb://mongo:27017/simpleUsersDB
    depends_on:
      - mongo

  frontend:
    build: ./frontend-simple-users
    container_name: simple-users-frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  mongo_data:
